.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    border: 2px solid;
    
}

.item {

    background-color: orange;
    
}

.item9 {
    background-color: violet;
    /* width: 500px; */
    grid-column: span 2;
    grid-row: span 2 ;
}


